.hover-img-wrapper {
  position: relative;
  overflow: hidden;
}

.hover-img-wrapper .default-img,
.hover-img-wrapper .hover-img {
  width: 100%;
  display: block;
  border-radius: 0.375rem; 
  
  transition: transform 0.3s ease;
}

.hover-img-wrapper .hover-img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 1;
}

.hover-img-wrapper:hover .hover-img {
  opacity: 1;
}

.hover-img-wrapper:hover .default-img {
  opacity: 0;
}

/* Zoom on hover */
.hover-img-wrapper:hover img {
  transform: scale(1.05);
}

/* Keep badge always on top */
.badge.position-absolute {
  z-index: 2;
}
